<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>독서의 밤</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>논제 제시와 답변의 밤</h1>
  <p>글쓴이: [책 글쓴이 이름]</p>
  <p>년도: [책 출판 년도]</p>
  <img src="book-cover.jpg" alt="책 표지 이미지">
  <div class="reviews">
  <h2>[논제]</h2> 
  <ul>
    <li>타입스크립트 만만세</li>
    <li>아 루아로 웹페이지 만들고 싶다</li>
  </ul>
  <form method="post" action="{{ url_for('posts') }}">
      <label for="num">학번</label>
      <input type="text" name="num" id="num" required>

      <label for="content">내용</label>
      <textarea name="content" id="content" rows="10" required></textarea>

    <button type="submit">게시하기의 밤</button>
  </form>
  <hr>
</body>
</html>