<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>논제 제시와 답변 리스트의 밤</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>논제 제시와 답변 리스트의 밤</h1>
  <h2>[논제]</h2> 
  <form action="/next_page" method="get">
    <button type="submit">논제 제시와 답변의 밤으로 이동하기</button>
  </form>
  <ul>
    {% for bookreview in reviews %}
    <li>
      <h2>이름: {{ bookreview.title }}</h2>
      <p>학번 {{ bookreview.author }}</p>
      <p>답변: {{ bookreview.review }}</p>
    </li>
    {% endfor %}
    